# .gitignore 

# Hidden files 
.DS_Store 
__pycache__/

# Scripts 
simulation/scripts/file_locations.py 
ground_station/mission_planning/scripts/file_locations.py 

# Data 
ground_station/mission_planning/missions/ 
