# .gitignore 

#==================================================
# Local file configuration 

.vscode/
auto_nav/.vscode/
build/
auto_nav/build/
auto_nav/stm32f4-boat/build/
*.code-workspace

# Hidden files 
.DS_Store 
__pycache__/

#==================================================


#==================================================
# Configuration 

# System configuration 
auto_nav/autopilot/system/system_config.h 
auto_nav/stm32f4-boat/headers/core/hardware_config.h

#==================================================


#==================================================
# Auto Nav 

# Application files 
auto_nav/stm32f4-boat/sources/system_data/gps_coordinates.cpp 

#==================================================


#==================================================
# Simulation 

# Scripts 
simulation/pc-scripts/file_locations.py 
simulation/scripts/conversions.py 
simulation/scripts/user_interface.py 
simulation/simulation.py 

#==================================================


#==================================================
# Unit tests 

# Vehicle 
auto_nav/unit_tests/vehicle/your_tests
auto_nav/unit_tests/vehicle/test-lib
auto_nav/unit_tests/vehicle/test-obj
auto_nav/unit_tests/vehicle/*.exe
auto_nav/unit_tests/vehicle/*.exe.stackdump

# Boat 
auto_nav/unit_tests/boat/your_tests
auto_nav/unit_tests/boat/test-lib
auto_nav/unit_tests/boat/test-obj
auto_nav/unit_tests/boat/*.exe
auto_nav/unit_tests/boat/*.exe.stackdump

# Ground station 
auto_nav/unit_tests/ground_station/your_tests
auto_nav/unit_tests/ground_station/test-lib
auto_nav/unit_tests/ground_station/test-obj
auto_nav/unit_tests/ground_station/*.exe
auto_nav/unit_tests/ground_station/*.exe.stackdump

# Radio module 
auto_nav/unit_tests/modules/your_tests
auto_nav/unit_tests/modules/test-lib
auto_nav/unit_tests/modules/test-obj
auto_nav/unit_tests/modules/*.exe
auto_nav/unit_tests/modules/*.exe.stackdump

#==================================================
