# .gitignore 

# Hidden files 
.DS_Store 
__pycache__/

# VS code files 
.vscode/

# Workspace 
build/

#========================================================================================
# Auto Nav 

# VS code files 
auto_nav/.vscode/

# Build files 
auto_nav/build/

# Application files 
auto_nav/sources/system_data/gps_coordinates.cpp 

#========================================================================================

#========================================================================================
# Mission Planning  

# Scripts 
mission_planning/scripts/file_locations.py 

# Data 
mission_planning/missions/ 

#========================================================================================

#========================================================================================
# Simulation 

# Scripts 
simulation/pc-scripts/file_locations.py 
simulation/scripts/conversions.py 
simulation/scripts/user_interface.py 
simulation/simulation.py 

#========================================================================================

#========================================================================================
# Unit tests 

auto_nav/unit_tests/sources

auto_nav/unit_tests/boat/your_tests
auto_nav/unit_tests/boat/test-lib
auto_nav/unit_tests/boat/test-obj
auto_nav/unit_tests/boat/*.exe
auto_nav/unit_tests/boat/*.exe.stackdump

auto_nav/unit_tests/modules/your_tests
auto_nav/unit_tests/modules/test-lib
auto_nav/unit_tests/modules/test-obj
auto_nav/unit_tests/modules/*.exe
auto_nav/unit_tests/modules/*.exe.stackdump

#========================================================================================
